 


  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

 .navbar{
    background-color: rgba(64, 112, 218, 0.616)  ;
    }

/* Navbar */
.navbar {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}

.nav-container {
  max-width: 1600px;
  margin: 0 auto;
  padding:  18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* navbar Logo */
.logo {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.logo .pink {
  color: #ff4fd8;
}

/* Menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-menu li a {
  color: #f9f8ff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #f0eeee;
}

/* navbar Button */
.nav-butoon {
  padding: 12px 16px;
  font-size: 15px;
  color: #ebe8e8;
  text-decoration: none;
  border-radius: 100px;
  background: linear-gradient(90deg, #ffbd16, #fa43d2fd);
  
}

/* menu Icon */
.menu-icon {
  display: none;
  color: #fff;
  font-size: 20px;
}



/* the About section */

.about section{
width: 1600px;
height: 648px;
gap: 80;
padding: 50px 200px 120px 200px;


}
  

/* ===== About Section ===== */
.about-section{
  padding: 80px 0;
  background: #0f172a;  
  color: #e5e7eb;
}

/* Common container */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Heading */
.about h2{
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Paragraph text */
.about-text{
  max-width: 800px;
  margin: 0 auto 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  color: #cbd5f5;
}

/* ===== Stats Boxes ===== */
.about-box.container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* Single box */
.about-box{
  background: #020617;
  padding: 28px 20px;
  text-align: center;
  border-radius: 14px;
  transition: 0.3s ease;
}

.about-box:hover{
  transform: translateY(-6px);
  background: #020617;
}

/* Numbers */
.about-box h3{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #38bdf8;
}

.about-box h3 i{
  font-size: 18px;
  margin-left: 4px;
}

/* Label */
.about-box span{
  font-size: 14px;
  color: #94a3b8;
}

/* ===== Responsive ===== */
@media (max-width: 992px){
  .about-box.container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px){
  .about h2{
    font-size: 28px;
  }

  .about-text{
    font-size: 15px;
  }

  .about-box.container{
    grid-template-columns: 1fr;
  }
}



















/* navbar Responsive */
@media screen and (max-width: 576px) {
  .nav-menu,
  .nav-butoon {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}